.money, .boost {
    width: 250px;
    height: 200px;
    opacity: 0.8;
}

.money:hover, .boost:hover {
    opacity: 0.9;
}

.money:active, .boost:active {
    opacity: 1;
}

.activities {
    display: inline;
}

.boost-container {
    display: inline;
}

.boost-buttons {
    display: inline;
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}